footer {
  position: fixed;
  bottom: 0;
  width: 95%;
}

.label {
  display: inline-block;
}

.equipmentBonusInput {
  width: 60px;
}

.artifactInput,
.heroLevelInput {
  width: 50px;
}

.heroWeaponInput,
.petLevelInput,
.skillLevelInput {
  width: 40px;
}

.orderedArtifactList,
.orderedHeroList,
.orderedPetList,
.orderedEquipmentList,
.orderedSkillList {
  float: left;
}

.panel {
  display: inline-block;
}

.fileChooserDiv {
  width: 250px;
}

.mainPage {
  display: block;
}
