body {
  margin: 0;
}

html {
  background-color: #333333;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

input {
  border-radius: 3px;
  margin: 3px;
  padding: 2px 5px;
  border: 1px solid #b7b7b7;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;

}

button {
  background-color: #eacc41;
  border-radius: 2px;
  padding: 7px 10px;
  border: none;
  margin: 5px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.step-button {

}

.header {
  height: 200px;
  width: 100%;
  background-color: #478f9a;

  h1 {
    margin: 0;
  }
}

.nav-bar {
  height: 40px;
  padding: 5px 20px;
  background-color: #212121;
  position: relative;
}

.nav-bar .nav-links {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

.nav-bar a:hover {
  color: #eacc41;
}

.nav-bar a:visited {
  color: #eacc41;
}

.nav-bar .nav-link {
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  line-height: 100%;
  width: 120px;
  text-align: center;
}

.nav-bar .login-box {
  position: absolute;
  right: 20px;
  top: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-bar .login-text {
  display: inline-block;
}

.update {
  width: 100%;
}

.update-toggle {

}

.update-icon {
  display: block;
  margin: auto;
  width: 10px;
}

.tabbed-panel,
.panel {
  background-color: #EEEEEE;
  color: black;
  padding: 15px;
  margin: 5px;
  border: 1px solid #222222;
  display: inline-block;
  border-radius: 5px;
}

.panels {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.panel-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  // flex-grow: 1;
}

.panel-col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

.panel-grow {
  flex-grow: 1;
}

.label {
  display: inline-block;
}

.state-options {
  text-align: center;
}

.gamestate-stat-list {
  width: 300px;
}

.gamestate-stat-display-box {
  width: 100%;
  height: 33px;
}

.equipment-bonus-input {
  width: 60px;
}

.artifact-input,
.hero-level-input {
  width: 50px;
}

.hero-weapon-input,
.pet-level-input,
.skill-level-input {
  width: 40px;
}

.stat-display-input {
  width: 85px;
  float: right;
}


.ordered-list {
  margin: 5px;
  padding: 5px;
  display: inline-block;
  border: 1px solid black;
  align-self: flex-start;
}

.file-chooser-div {
  width: 250px;
  input {
    z-index: 1;
  }
}

.footer-contact {
  float: left;
}

.footer-github {
  float: right;
}

.main-page {
  display: block;
}

footer {
  height: 20px;
  background-color: #123423;
}