body {
  margin: 0;
  background-color: #444444;
}

html {
  background-color: #444444;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

input {
  border-radius: 3px;
  margin: 3px;
  padding: 2px 5px;
  border: 1px solid #b7b7b7;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;

}

button {
  background-color: #eacc41;
  border-radius: 4px;
  padding: 7px 10px;
  border: none;
  margin: 5px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

button:hover:enabled {
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.faq-page h3 {
  margin: 0px;
}

.header {
  height: 100px;
  width: 100%;
  // background-color: #cbf1fe;
  background: url('/img/yattwo.png') no-repeat left #cbf1fe;


  h1 {
    margin: 0;
  }
}

.nav-bar {
  height: 40px;
  padding: 5px 20px;
  background-color: #212121;
  position: relative;
}

.nav-bar .nav-links {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

.nav-bar a:hover {
  color: #eacc41;
}

.nav-bar a:visited {
  color: #eacc41;
}

.nav-bar .nav-link {
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  line-height: 100%;
  width: 120px;
  text-align: center;
}

.nav-bar .login-box {
  position: absolute;
  right: 20px;
  top: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-bar .login-input {
  vertical-align: middle;
}

.nav-bar .login-text {
  color: white;
  display: inline-block;
}

.nav-bar .login-button {
  height: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 0px 10px;
}

.update {
  width: 100%;
}

.update-stuff {
  padding: 5px 15px;
}

.panel.update-panel {
  background-color: #fff6cf;
  padding: 0px;
}

.panel.error-panel {
  background-color: #d20019;
  padding: 0px;
}

.update-toggle {
  background-color: #efdb84;
}

.update-toggle:hover {
  background-color: #eacc41;
}

.update-icon {
  display: block;
  margin: auto;
  width: 10px;
}

.tabbed-panel,
.panel {
  background-color: #EEEEEE;
  color: black;
  padding: 15px;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
}

.tabbed-panel {
  width: 100%;
  padding: 0;
}

.panels {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 1200px;
  // margin-left: auto;
  // margin-right: auto;
  margin: 20px auto;
}

.panel-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  // flex-grow: 1;
}

.panel-col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

.panel-grow {
  flex-grow: 1;
}

.label {
  display: inline-block;
}

.state-message {
  color: #d30019;
  margin-left: 5px;
  margin-top: 6px;
}

.state-options {
  text-align: center;
}

.options-list {
  padding: 10px;
}

.method-options {
  padding: 10px;
}

.gamestate-stat-list {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.gamestate-stat-display-box {
  width: 100%;
  height: 33px;
}

.equipment-bonus-input {
  width: 60px;
}

.hero-list .hero-input-box:nth-child(5n+1) {
  margin-bottom: 15px;
}

.option-input {
  width: 150px;
}

.option-input.radio {
  width: 131px;
}

.hero-type-melee {
  background: #f6e6db;
}

.hero-type-spell {
  background: #c6f2fe;
}

.hero-type-ranged {
  background: #e5f8d5;
}

.hero-level-input {
  width: 60px;
}

.artifact-input {
  width: 50px;
}

.artifact-input.at-cap {
  background: #E0FFEA;
}

.hero-weapon-input,
.pet-level-input,
.skill-level-input {
  width: 40px;
}

.hero-damage-input {
  width: 85px;
}

.stat-display-input {
  width: 85px;
  float: right;
}

.file-chooser-div {
  width: 250px;
  input {
    z-index: 1;
  }
}

.state-options {
  text-align: center;
  margin-left: 30px;
}

.state-options button {
  width: 160px;
}

.footer-contact {
  float: left;
}

.footer-github {
  float: right;
}

.main-page {
  display: block;
}

footer {
  height: 20px;
  background-color: #212121;
  text-transform: uppercase;
  color: white;
  padding: 3px 10px;
}

.footer-github a, .footer-github a:visited {
  color: white;
  text-decoration: none;
}

.footer-github a:hover {
  color: #eacc41;
}

.buy-step {
  background-color: #b38bca;
}

.step-list table {
  width: 100%;
}

.step-col2,
.step-col3,
.step-col4 {
  text-align: center;
}

td i:hover {
  cursor: pointer;
  color: #62cc0e;
}

.step-list tr:not(:first-child):hover {
  color: #f77c28;
}

.step-button {
  text-align: center;
}

.step-button .ui.progress {
  width: 210px;
  margin: auto;
}

.step-button button {
  background-color: #f77c28;
  font-size: 14px;
  width: 210px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
}

.step-list-buttons {
  text-align: center;
  width: 100%;
}

.step-list-buttons button {
  width: 100px;
}

.tab-buttons button {
  width: 90px;
  text-align: center;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px;
}

.tab-buttons button:nth-child(1) {
  background-color: #f77c28;
  margin-left: 0;
}
.tab-buttons button:nth-child(2) {
  background-color: #10a1ca;
}
.tab-buttons button:nth-child(3) {
  background-color: #eacc41;
}
.tab-buttons button:nth-child(4) {
  background-color: #62cc0e;
}
.tab-buttons button:nth-child(5) {
  background-color: #952cce;
}

.ordered-list {
  width: 100%;
  padding: 0px 5px;
  display: inline-block;
  align-self: flex-start;
  border-radius: 5px;
  border-top-left-radius: 0;
}

.ordered-skill-list {
  background-color: #f77c28;
}

.ordered-hero-list {
  background-color: #10a1ca;
}

.ordered-equipment-list {
  background-color: #eacc41;
}

.ordered-pet-list {
  background-color: #62cc0e;
}

.ordered-artifact-list {
  background-color: #952cce;
}

.list-wrapper {
  margin: 8px 4px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
}

.ordered-list .label {
  padding: 0px 4px;
}
